description = "Partial de SCRIPTS para el footer"
==

<script>var siteData={pageId:'{{this.page.id}}',siteUrl:'{{'home'|page}}/',themeUrl: '{{''|theme}}',IE:/Edge\/|Trident\/|MSIE /.test(window.navigator.userAgent),isMobile:(/Android|webOS|iPhone|iPad|iPod|Opera Mini/i.test(navigator.userAgent) || (navigator.platform === 'MacIntel' && navigator.maxTouchPoints > 1)) && !window.MSStream};</script>
<script src="{{ 'assets/js/plugins.js'|theme }}?v={{uniqueID}}"></script>
<script src="{{ 'assets/js/index.js'|theme }}?v={{uniqueID}}"></script>