// Básicos
$white:#ffffff;
$black:#000000;
$green: #93dfbc;
$blue: #2b88fc;
/*---------------------------------*/

// Textos
$text: $black;
/*---------------------------------*/

// Borders
/*---------------------------------*/

// Fondos
$background-gradient-color-1: #88cbc7;
$background-gradient-color-2: #7ed0fe;
/*---------------------------------*/